basemodel_gamma_2_dropout_0_epoch_1.ckpt
basemodel_gamma_2_dropout_0_epoch_2.ckpt
basemodel_gamma_2_dropout_0_epoch_3.ckpt
basemodel_gamma_2_dropout_0_epoch_4.ckpt

basemodel_gamma_2_dropout_0.2_epoch_1.ckpt
basemodel_gamma_2_dropout_0.2_epoch_2.ckpt
basemodel_gamma_2_dropout_0.2_epoch_3.ckpt
basemodel_gamma_2_dropout_0.2_epoch_4.ckpt

basemodel_gamma_2_dropout_0.5_epoch_1.ckpt
basemodel_gamma_2_dropout_0.5_epoch_2.ckpt
basemodel_gamma_2_dropout_0.5_epoch_3.ckpt
basemodel_gamma_2_dropout_0.5_epoch_5.ckpt

basemodel_gamma_5_dropout_0_epoch_1.ckpt
basemodel_gamma_5_dropout_0_epoch_2.ckpt
basemodel_gamma_5_dropout_0_epoch_3.ckpt
basemodel_gamma_5_dropout_0_epoch_4.ckpt

basemodel_gamma_5_dropout_0.2_epoch_1.ckpt
basemodel_gamma_5_dropout_0.2_epoch_2.ckpt
basemodel_gamma_5_dropout_0.2_epoch_3.ckpt
basemodel_gamma_5_dropout_0.2_epoch_5.ckpt

basemodel_gamma_5_dropout_0.5_epoch_1.ckpt
basemodel_gamma_5_dropout_0.5_epoch_2.ckpt
basemodel_gamma_5_dropout_0.5_epoch_3.ckpt
basemodel_gamma_5_dropout_0.5_epoch_5.ckpt
